@font-face {
  font-family: "Public Sans";
  src: url("../../fonts/PublicSans-Regular.ttf");
}
@import "colors";

html {
  font-family: "Public Sans";
  scroll-behavior: smooth;
  font-size: 18px;
  body {
    margin: 0;
    padding: 0;
    header {
      position: sticky;
      background-color: $White;
      top: 0;
      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 60px;
        padding: 0 20px;

        .logo {
          display: flex;
          align-items: center;
        }
        .main-nav-wrapper {
          position: fixed;
          padding: 20px;
          bottom: 0;
          left: 0;
          right: 0;
          top: 60px;
          background: linear-gradient(
            to bottom,
            hsl(233deg 26% 24% / 95%),
            hsl(220deg 16% 96% / 40%)
          );
          overflow: hidden;
          transition: all 0.2s ease-in-out;
          z-index: 1;
          menu {
            background-color: $Very-Light-Gray;
            margin: 0;
            padding: 20px;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
            li {
              list-style: none;
              text-align: center;
              position: relative;
              cursor: pointer;
              a {
                text-decoration: none;
                color: $Grayish-Blue;
              }
              .indicator {
                position: absolute;
                height: 4px;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
        .menu-icon {
          cursor: pointer;
        }
        .request-button {
          display: none;
        }
      }
    }
    .main-section {
      background: url("../../images/bg-intro-mobile.svg") no-repeat center 50px /
        contain;

      .main-section-image-mockups-wrapper {
        height: auto;
        margin-top: -120px;
        padding: 0 20px;
        img {
          width: 100%;
          height: auto;
          margin: auto;
          display: block;
        }
      }
      .main-section-description {
        padding: 20px 40px 60px;
        h1 {
          font-size: 2rem;
          text-align: center;
          color: $Dark-Blue;
          font-weight: 400;
        }
        p {
          line-height: 1.5rem;
          text-align: justify;
          font-size: 0.8rem;
          color: $Grayish-Blue;
        }
        .request-button {
          margin-top: 10%;
          width: 45%;
        }
      }
    }
    .bank-description {
      background-color: $Light-Grayish-Blue;
      padding: 40px;
      h2 {
        font-size: 1.8rem;
        color: $Dark-Blue;
        text-align: center;
        font-weight: 300;
      }
      p {
        line-height: 1.5rem;
        text-align: center;
        font-size: 0.8rem;
        color: $Grayish-Blue;
      }
      .description-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        margin-top: 40px;
        .description-item {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 15px;
          .description-item-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: auto;
          }
          .description-item-title {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .description-item-text {
            line-height: 1.5rem;
            text-align: center;
            font-size: 0.8rem;
            color: $Grayish-Blue;
            margin: 0;
          }
        }
      }
    }
    .articles-links {
      background-color: $Very-Light-Gray;
      padding: 40px 20px;
      .articles-main-title {
        font-size: 1.8rem;
        color: hsl(233, 26%, 24%);
        text-align: center;
        font-weight: 300;
      }
      .article-item {
        border-radius: 5px;
        overflow: hidden;
        background-color: $White;
        margin-top: 25px;
        a {
          display: block;
          text-decoration: none;
          .article-image {
            width: 100%;
            height: auto;
          }
          .article-wrapper {
            padding: 20px 30px;
            .article-item-author {
              display: block;
              font-size: 0.6rem;
              color: $Grayish-Blue !important;
            }
            .article-item-title {
              display: block;
              color: $Dark-Blue !important;
              font-size: 1rem;
              margin: 10px 0;
              font-weight: 400;
            }
            .article-item-content {
              font-size: 0.75rem;
              color: $Grayish-Blue !important;
              line-height: 1.1rem;
            }
          }
        }
      }
    }
    footer {
      background-color: $Dark-Blue;
      display: grid;
      grid-template-columns: 1fr;
      padding: 30px 0;
      .wrapper {
        text-align: center;
        color: white;
        menu {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
        .social-media {
          margin: 25px auto;
          li {
            display: inline-block;
            margin: 0 10px;
          }
        }
        .main-footer-nav {
          margin: 10px 0;
          menu {
            li {
              margin: 10px 0;
              a {
                font-size: 0.8rem;
                color: $Light-Grayish-Blue;
              }
            }
          }
        }
        .request-button {
          margin: 30px auto;
        }
        .copyright {
          color: $Grayish-Blue;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.request-button {
  background: linear-gradient(90deg, $Lime-Green, $Bright-Cyan);
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  color: $Light-Grayish-Blue;
  border: none;
  margin: auto;
  display: block;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: linear-gradient(90deg, hsl(136, 65%, 70%), hsl(192, 70%, 65%));
  }
}
.hidden {
  display: none;
}
.nullVisibility {
  opacity: 0;
}
.translateY {
  transform: translateY(-240px);
}
@media (min-width: 1024px) {
  html {
    body {
      header {
        position: relative;
        padding: 0 13%;
        overflow: hidden;
        .header-content {
          padding: 0;
          align-items: normal;
          .main-nav-wrapper {
            position: relative;
            background: $White;
            padding: 0;
            top: 0;
            .main-nav {
              height: 100%;
              menu {
                padding: 0;
                background: transparent;
                display: flex;
                gap: 20px;
                height: inherit;
                li {
                  display: flex;
                  align-items: center;
                  a {
                    font-size: 0.7rem;
                    font-weight: 400;
                  }
                  &:hover {
                    .indicator {
                      background-color: $Lime-Green;
                    }
                    a {
                      color: $Dark-Blue;
                    }
                  }
                }
              }
            }
          }
          .menu-icon-wrapper {
            display: none;
          }
          .header-buttons {
            display: flex;
            align-items: center;
            .menu-icon-wrapper {
              display: none;
            }
            .request-button {
              display: block;
            }
          }
        }
      }
      main {
        overflow: hidden;
        .main-section {
          background: url("../../images/bg-intro-desktop.svg") no-repeat 605px -285px /
            cover;
          height: 80vh;
          display: flex;
          .main-section-image-mockups-wrapper {
            order: 2;
            height: auto;
            margin-top: 0px;
            img {
              width: 95%;
              margin-top: -120px;
              margin-left: 185px;
            }
          }
          .main-section-description {
            margin: auto auto auto 12%;
            width: 32%;
            padding-left: 0;
            h1 {
              font-size: 2.5rem;
              text-align: left;
              margin: 0;
            }
            p {
              text-align: left;
              line-height: 1.4rem;
              font-size: 0.8rem;
            }
            .request-button {
              margin-left: 0;
            }
          }
        }
        .bank-description {
          background-color: $Light-Grayish-Blue;
          padding: 7% 10% 7% 13%;
          h2 {
            font-size: 2rem;
            text-align: left;
            margin: 0;
          }
          p {
            line-height: 1.5rem;
            text-align: left;
            font-size: 0.9rem;
            width: 58%;
          }
          .description-items-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            .description-item {
              grid-column-gap: 30px;
              .description-item-image {
                margin: 0 0 10px 0;
              }
              .description-item-title {
                text-align: left;
                font-size: 1.2rem;
                font-weight: 400;
              }
              .description-item-text {
                line-height: 1.5rem;
                text-align: left;
                font-size: 0.8rem;
                width: 100%;
              }
            }
          }
        }
        .articles-links {
          background-color: $Very-Light-Gray;
          padding: 5% 13%;
          .articles-main-title {
            font-size: 1.8rem;
            text-align: left;
          }
          .article-items-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 20px;
            .article-item {
              a {
                .article-image {
                  height: 160px;
                }
                .article-wrapper {
                  padding: 20px;
                  .article-item-author {
                    font-size: 0.6rem;
                  }
                  .article-item-title {
                    font-size: 1rem;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                      color: $Lime-Green !important;
                    }
                  }
                  .article-item-content {
                  }
                }
              }
            }
          }
        }
      }
      footer {
        background-color: $Dark-Blue;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr;
        padding: 3% 13%;
        .wrapper {
          .social-media {
            margin: 0;
            li {
              margin: 0px 5px;
              width: 17px;
              height: 17px;

              path {
                transition: all 0.2s ease-in-out;
              }
              &:hover {
                path {
                  fill: $Lime-Green;
                }
              }
            }
          }
          .main-footer-nav {
            margin: 0;
            menu {
              display: flex;
              flex-direction: column;
              height: 90px;
              flex-wrap: wrap;
              margin-left: 50px;
              li {
                text-align: left;
                margin: 4px 0px;
                margin-right: 70px;

                a {
                  font-size: 0.7rem;
                  color: $Light-Grayish-Blue;
                  transition: all 0.2s ease-in-out;
                  &:hover {
                    color: $Lime-Green !important;
                  }
                }
              }
            }
          }
          .request-button {
            margin-right: 0;
            margin-top: 0;
          }
          .copyright {
            text-align: right;
          }
          &:nth-child(1) {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .hidden {
    display: block;
  }
  .nullVisibility {
    opacity: 1;
  }
  .translateY {
    transform: translateY(0px);
  }
  .request-button {
    padding: 12px 20px;
    font-size: 0.7rem;
  }
}
